@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
html{
    background: url('brick.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: medium;
    font-family: 'Mochiy Pop One', sans-serif;

}
#btn{
    font-size: 18px;
    padding: 5px;
    background-color: rgb(193, 159, 236);
    border-radius: 12px;

}

form{
    display: block;
    margin: 10% auto;
    text-align: center;
    align-self: center;
    cursor: pointer;
    user-select: none;
    position: auto;
}
