doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
         div(class='registration-box center')
        form(id='regForm' class='registration-form' name='registration-form' action='http://localhost:3000/add' method='post')
            input(class='input' type='text' name='user' id='user', placeholder='UserName' required)
            br
            input(class='input' type='text' name='email' id='email', placeholder='Email' required)
            br
            input(class='input' type='text' name='username' id='username', placeholder='Username' required)
            br
            inpuy(class='imput' type='text' name='age' id='age' placeholder='age' required)
            br
            input(class='input' type='password' name='password' id='password', placeholder='Password' required)
            br
            input(class='input' type='password' name='confirmation' id='confirmation', placeholder='Confirm Password' required)
            br
            input(class='input' type='submit' value='submit')