extends layout

block content
    body 
        div(class='registration-box center')
            form(id='regForm' class='registration-form' name='registration-form' action='/edit/' method='post')
                input(class='input' type='text' name='username' id='username' placeholder='Username' required)
                br
                input(class='input' type='text' name='password' id='password' placeholder='Password' required)
                br
                input(class='input' type='text' name='email' id='email' placeholder='Email' required)
                br
                input(class='input' type='text' name='age' id='age' placeholder='age' required)
                br

                //question 1
                label(for='Question1') Do you like me?: 
                select(name='q1')
                    option(value='yes') yes
                    option(value='A2') yes!
                    option(value='A3') Yes?!
                    option(value='A4') yes.
                br
                
                //question 2
                label(for='Question2') Favorite Animal: 
                select(name='q2')
                    option(value='Fleas') Fleas
                    option(value='Leaches') Leaches
                    option(value='Wasps') Wasps
                    option(value='Mosquitoes') Mosquitoes
                br
                
                label(for='Question3') Favorite N Word: 
                select(name='q3')
                    option(value='Neumont') Neumont
                    option(value='No') No
                    option(value='Nigeria') Nigeria
                    option(value='Nitrogen') Nitrogen
                br
                input(class='input' type='submit' value='submit' id="btn")