extends layout
block content
    body 
    h1 INVALID INFORMATION
        form(action="/login", method="get") 
            input(type="submit", value="Try To Login Again" id="btn")
        form(action="/create", method="get") 
            input(type="submit", value="Try To Create An Account Again" id="btn")