extends layout
block content
    body 
        h1 Data Express Project
        form(action="/login", method="get") 
            input(type="submit", value="Login" id="btn")
        form(action="/create", method="get") 
            input(type="submit", value="Create An Account" id="btn")
        form(action="/edit", method="Put") 
            input(type="submit", value="Edit Account" id="btn")


