extends layout
block content
    body 
        h1 Data Express Project
        form(action="/login", method="get") 
            input(type="submit", value="Login")
        form(action="/create", method="get") 
            input(type="submit", value="Create An Account")


